#nav {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

#nav #logo {
  height: 40px;
  flex: 1;
}

#nav .navbutton {
  border: #0eadb7 solid 1px;
  color: #0eadb7;
  border-radius: 8px;
  padding: 8px 20px;
  flex: 1;
  text-align: center;
}

#nav .navbutton:last-child {
  color: white;
  background-color: #0eadb7;
}

#nav .navbutton:not(:last-child) {
  margin-right: 20px;
}

.search {
  position: relative;
  flex: 3;
  margin: 0 60px;
  color: grey;
}
.search input {
  text-indent: 40px;
  height: 40px;
  width: 100%;
  border-radius: 8px;
  border: 0;
  outline: none;
  background-color: #dddddd;
  color: grey;
}
.search img {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 15px;
  filter: invert(50%) sepia(38%) saturate(20%) hue-rotate(355deg)
    brightness(93%) contrast(82%);
}
