/* Other rules */

body {
  font-size: 16px;
  color: #999999;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding: 30px 0;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 10px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#form {
  text-align: center;
  padding-top: 5vh;
}

#form h1 {
  font-size: 1.6em;
}

#form form {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  margin: 30px auto;
}

#form form input {
  height: 30px;
  border: 0;
  border-bottom: #fddbde solid 1px;
  font-size: 16px;
  outline: none;
  margin-bottom: 20px;
  padding: 6px;
}

#form form ::placeholder {
  color: lightgrey;
  opacity: 1;
}

#form form button {
  background-color: #0eadb7;
  color: white;
  outline: none;
  padding: 12px;
  margin-top: 20px;
  border: 0;
  border-radius: 3px;
}

#offer {
  background-color: lightgrey;
  height: calc(100vh - 140px);
}
#offer .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#offer .container > img {
  width: 100%;
  max-width: 480px;
  object-fit: cover;
  margin-bottom: 20px;
}

#offer .offer-details {
  background-color: white;
  padding: 40px;
  max-width: 300px;
  width: 100%;
  margin-bottom: 20px;
}

#offer .offer-price {
  font-size: 20px;
  color: black;
  margin-bottom: 20px;
}

#offer .details-key {
  width: 60%;
  display: inline-block;
}

#offer .details-value {
  color: black;
}

#offer .offer-details hr {
  margin: 20px 0;
}

#offer .offer-details button {
  background-color: #0eadb7;
  width: 100%;
  outline: none;
  border: 0;
  padding: 8px;
  color: white;
}

#offer .offer-owner {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

#offer .offer-name {
  color: black;
  font-weight: bold;
}

#offer .offer-owner img {
  height: 60px;
  margin-right: 20px;
  border-radius: 50%;
}
#publish h1 {
  font-size: 1.6em;
}

#publish form {
}

#publish .field-container {
  background-color: white;
  padding: 20px;
}
