/* Other rules */

body {
  font-size: 16px;
  color: #999999;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding: 30px 0;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 10px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
