#content .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.offer-card {
  padding: 0 6px 16px;
  cursor: pointer;
}

.offer-card .owner {
  display: flex;
  align-items: center;
}

.offer-card .owner img {
  height: 35px;
  border-radius: 50%;
}

.offer-card .offer-image {
  width: 100%;
  object-fit: cover;
}
